.bookcover {
  margin: 1rem 0;
  background-color: white;
  padding: 1rem;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
  border: 1px solid rgba(128, 128, 128, 0.447);
}

.title {
  color: rgb(84, 84, 85);
  font-size: small;
}

.author {
  color: black;
  font-weight: 500;
  font-size: 1.5rem;
  margin: 0.4rem 0;
}

.chap {
  font-size: 0.7rem;
}

.btn-grp {
  gap: 1rem;
}

.book-btn {
  color: rgb(0, 149, 255);
  border: none;
  background-color: inherit;
}

.book-btn:not(:last-of-type) {
  margin-right: 0.01rem;
  border-right: 1px solid #ccc;
  padding-right: 0.5em;
}

.percent {
  align-items: center;
}

.Oval-2 {
  width: 2.5rem;
  height: 2.5rem;
  border-style: solid;
  border-radius: 50%;
  border-width: 5px;
  border-color: #379cf6;
}

.progress {
  flex-direction: column;
  justify-content: space-between;
  margin: 0 3rem 0 0;
  border-left: 1px solid #ccc;
  padding-left: 2rem;
}

.curr-ch {
  font-size: small;
  color: rgb(128, 128, 128);
}

.pro-btn {
  padding: 0.3rem;
  background-color: rgb(0, 149, 255);
  color: aliceblue;
  border: none;
  border-radius: 2px;
}
